/*Appear throughout all webpages*/
html {
    background-color: rgb(90, 27, 27);
    font-family: Roboto, Arial;
    overflow-x: hidden;
}

/*hides scroll bar*/
html::-webkit-scrollbar {
    display: none;
}

body {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

main {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}
/*Media queries*/
@media screen and (min-width: 1250px){
    body {
        font-size: 120%;
    }
    header nav li, footer nav li {
        font-size: 120%;
    }
    main {
        width: 95%;
    }
}
@media screen and (max-width: 1170px) {
    body {
      font-size: 110%;
    }
    main {
      width: 100%;
    }
    header nav ul {
      flex-direction: column;
      align-items: center;
    }
}
@media screen and (min-width: 600px) and (max-width: 1169px) {
    body {
        font-size: 100%;
    }
    main {
        width: 80%;
    }
}
/*end of media queries*/

/*Header CSS*/
header {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(129, 201, 227);
    margin: 0;
    padding: 40px;
}

header li, footer li {
    color: rgb(129, 201, 227);
}

nav {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

nav ul { 
    margin: 0 auto;
    list-style: none;
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
}

/*in both footer and header*/
li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

li a:hover {
    background-color: white;
    color: rgb(174, 63, 63);
}
/*end in both footer and header*/
/*end Header CSS*/

/*index.html CSS*/
h2 {
    text-align: center;
    color: rgb(129, 201, 227);
    line-height: 100px;
    margin: 0;
}

p {
    text-align: left;
    color: rgb(129, 201, 227);
    display: table;
    margin: 0 auto;
    max-width: 600px;
}

/*end index.html CSS*/

/*introduction.html CSS*/
div {
    margin: 0 auto;
    display: table;
}

main img {
    height: 500px;
    width: 420px;
    object-fit: cover;
    display: block;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}
/*end introduction.html CSS*/

/*about.html CSS*/
/*h3 is also used in introduction*/
h3 {
    text-align: left;
    color: rgb(129, 201, 227);
}

section {
    max-width: 900px;
    margin: 0 auto;
    line-height: 50px;
}

span {
    font-weight: bold;
}

ul {
    padding: 0 0;
}

p, main li {
    color: rgb(129, 201, 227);
    margin: 0 auto;
    padding: 0 0;
    max-width: 900px;
    list-style-type: none;
    line-height: 1.5em;
}
/*end about.html CSS*/

/*tables.html*/

ol {
    padding: 0 0;
    margin: 0 0;
}

table {
    color: rgb(129, 201, 227);
    font-family: Roboto, Arial;
    display: table;
    margin: 30px auto;
    border-collapse: collapse;
    width: 100%;
}

tr {
    text-align: left;
}

td, th {
    border: 2px solid white;
    padding: 10px;
}

figure {
    max-width: 900px;
    margin: 0 auto;
    line-height: 50px;
}

figcaption {
    color: rgb(129, 201, 227);
    font-family: Roboto, Arial;
    display: table;
    margin: 0 auto;
}

figure tr:nth-child(1) th {
    background-color: #272102;
    color: rgb(129, 201, 227);
    font-size: 1.3em;
}

figure tr:nth-child(2) td:nth-child(1), 
figure tr:nth-child(5) td:nth-child(1),
figure tr:nth-child(7) td:nth-child(1) {
    background-color: #272102;
    color: rgb(129, 201, 227);
    font-weight: 1000;
    font-size: 1.1em;
}

figure tr:nth-child(even) {
    background-color: #f1ab86;
    color: black;
}

figure tr:nth-child(odd) {
    background-color: #f7dba7;
    color: black;
}

figure tr:nth-child(9){
    background-color: #272102;
    color: rgb(129, 201, 227);
    font-size: 1.1em;
    font-weight: 1000;
}
/*end of tables.html*/

/*forms.html*/
form {
    color: black;
    width: 40%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #f7dba7;
    line-height: 35px;
    font-family: Roboto, Arial;
    padding: 20px;
}

label {
    display: block;
    max-width: 40%;
}

input[type="text"], input[type="tel"], input[type="email"] {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    padding-left: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}

input:focus, select:focus {
    border: 2px solid #f1ab86;
    outline: 0;
    outline-offset: 3px;
}

legend {
    font-weight: bold;
}

select {
    height: 35px;
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    padding: 12px 24px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-weight: 800;
    font-size: 0.9em;
    font-family: Roboto, Arial;
}

button[type="reset"] {
    background-color: rgb(174, 63, 63);
    color: white;
    transition: background-color 0.2s;
}

button[type="submit"] {
    color: white;
    background-color: #272102;
    transition: background-color 0.2s;
}

button[type="reset"]:hover {
    background-color: rgb(228, 43, 43);
}

button[type="submit"]:hover {
    background-color: #4a3f04;
}
/*end of forms.html*/

/*Footer CSS*/
h5 {
    color: rgb(129, 201, 227);
    font-weight: 300;
    text-align: center;
}

h5 a, a{
    text-decoration: none;
    color: rgb(129, 201, 227);
    cursor: pointer;
    border-radius: 8px;
    transition: color 0.2s;
}

h5 a:hover, a:hover {
    color: white;
}

footer img {
    display: inline-block;
    vertical-align: middle;
    max-width: 200px;
}

footer em {
    color: rgb(129, 201, 227);
}

h4 {
    font-weight: 400;
}

footer {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}
/*end footer CSS*/
