<h1>Adolfo Martinez ❄ Absolute Monster ❄ ITIS3135 Course Page</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>❄</li>
            <li><a href="introduction.html">Introduction</a></li>
            <li>❄</li>
            <li><a href="contract.html">Contract</a></li>
            <li>❄</li>
            <li><a href="about.html">About</a></li>
            <li>❄</li>
            <li><a href="website_evaluations.html">Website Evaluations</a></li>
            <li>❄</li>
            <li><a href="stuff/stUff&.htm">CRAP Website</a></li>
            <li>❄</li>
            <li><a href="tables.html">Tables</a></li>
            <li>❄</li>
            <li><a href="forms.html">Forms</a></li>
        </ul>
    </nav>